@import url("https://rsms.me/inter/inter.css");

#root {
	height: 100vh;
	overflow: auto;
}

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	font-family: "Inter var", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* imported */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.uiWrapper {
	position: absolute;
	z-index: 5;
	text-align: center;
	height: 100vh;
	width: 100%;
	color: white;
	top: 0;
}

.siteHeader {
	padding-top: 15px;
	font-size: 4em;
	text-align: center;
}

.sectionHeader {
	padding-top: 15px;
	font-size: 3em;
	font-weight: 500;
	text-align: center;
}

.subHeader {
	font-size: 1.6em;
	font-weight: 500;
}

.siteBody {
	/* width: 100%; */
	height: 100vh;
	padding: 0px 15%;
	color: white;
}

.navMenu {
	width: 100%;
	padding-top: 15px;
}

.navMenuItem {
	display: inline-block;
	width: 25%;
}

.annotation {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 24px;
	font-weight: 300;
	background: rgb(215, 215, 215);
	color: #000000;
	padding: 2px 10px;
	/* border-radius: 4px; */
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	width: 312px;
	height: 212px;
	/* pointer-events: none; */
}

.contactLaptop {
	font-size: 17px;
	text-align: center;
}

.contactHeader {
	font-size: 24px;
}

@media only screen and (max-width: 600px) {
	.siteHeader {
		font-size: 3em;
	}
	.sectionHeader {
		font-size: 2em;
	}
	.subHeader {
		font-size: 1.2em;
	}
	.siteBody {
		/* padding: 50vh 5% 0px 5%; */
		padding: 44vh 5% 0px 5%;
		/* padding: 0px 5%; */
		/* height: 46vh; */
		overflow-y: scroll;
		/* pointer-events: ; */
	}
} 